.dashboard-container {
    display: flex;

    .dashboard-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 20%;
        min-height: 70vh;
        border-right: 1px solid $blueChart;
        box-shadow: 0px 2px 5px 0px rgba(16, 51, 95, 0.75);
        padding: 1.5rem 0 0 3rem;

        .nav-page {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .nav-link {
                text-decoration: none;
                font-size: 1.3rem;
                font-weight: bold;
                color: $purpleChart;
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 0.5rem;

                &:hover {
                    color: $blueChart;
                }

                &.active {
                    color: $blueChart;
                    transform: scale(1.1);
                }
            }
        }

        .nav-delete {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-bottom: 1rem;

            .nav-link {
                text-decoration: none;
                font-size: 1rem;
                font-weight: bold;
                color: red;
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 0.5rem;

                &:hover {
                    color: rgb(207, 74, 74);
                }
            }
        }

        &.mobile {
            display: block;
            transform: translate(-150%);
            transition: transform 0.4s ease-in-out;
            width: fit-content;
            position: absolute;
            border: none;
            box-shadow: none;
            top: 15rem;
            left: 0;
            padding: 0 1.5rem;
            width: 100%;

            .nav-page {
                padding: 1rem 0 1rem 0.5rem;
                border-top: 1px solid $blueChart;
                width: 100%;
            }

            .nav-delete {
                padding: 1rem 0 0 0.5rem;
                border-top: 1px solid $blueChart;
                width: 100%;
            }
        }

        &.opened {
            transform: translate(0);
            justify-content: start;
            position: absolute;
            width: 100%;
            //TODO: find a background color for mobile
            // background: $background-color;
        }
    }

    .dashboard-page {
        display: flex;
        width: 80%;
        justify-content: center;
        height: 100vh;

        .userForm-container {
            display: flex;
            width: 100%;
            padding-top: 1rem;

            .user-form {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2rem;

                .user-form-title {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 3rem;
                    color: $blueChart;
                    font-weight: bold;

                    h1 {
                        font-size: 2rem;
                    }

                    p {
                        font-size: 1.5rem;
                    }
                }

                .user-form-fields {
                    display: grid;
                    grid-template-columns: 1.5fr 2fr;
                    gap: 1rem;
                    column-gap: 1.5rem;
                    width: 35%;

                    label {
                        display: flex;
                        font-size: 1.2rem;
                        color: $blueChart;
                        font-weight: bold;
                        align-items: center;
                        justify-content: flex-end;
                    }

                    input {
                        border: 1px solid $purpleChart;
                        border-radius: 0.5rem;
                        padding: 0.5rem;
                        font-size: 1.2rem;
                        color: $purpleChart;
                        font-weight: bold;

                        &:focus {
                            outline: none;
                            border: 1px solid $yellowChart;
                        }
                    }

                    .switch-input {
                        width: 5%;

                        &:focus {
                            outline: none;
                            border: 1px solid $purpleChart;
                        }

                        &:checked {
                            border: 2px solid $blueChart;
                            background-color: $yellowChart;
                        }
                    }

                    select {
                        border: 1px solid $purpleChart;
                        border-radius: 0.5rem;
                        padding: 0.5rem;
                        font-size: 1.2rem;
                        color: $purpleChart;
                        font-weight: bold;

                        &:focus {
                            outline: none;
                            border: 1px solid $yellowChart;
                        }

                        option {
                            font-size: 1.2rem;
                            color: $purpleChart;
                            font-weight: bold;
                        }
                    }
                }

                .user-form-submit {
                    display: flex;
                    justify-content: center;
                    width: 35%;

                    button {
                        border: 1px solid $blueChart;
                        border-radius: 0.5rem;
                        padding: 0.5rem;
                        font-size: 1.2rem;
                        font-weight: bold;
                        color: $yellowChart;
                        background-color: $blueChart;
                        cursor: pointer;
                        transition: all 0.5s ease-in-out;

                        &:hover {
                            background-color: $yellowChart;
                            color: $blueChart;
                        }
                    }
                }
            }

            &.mobile {
                padding-top: 5rem;
                width: 100%;
                transform: translate(0);
                transition: transform 0.4s ease-in-out;

                .user-form {
                    align-items: center;
                    gap: 1rem;

                    .user-form-title {
                        display: flex;
                        gap: 2rem;

                        h1 {
                            font-size: 2rem;
                        }

                        p {
                            font-size: 1.5rem;
                        }
                    }

                    .user-form-fields {
                        width: 70%;
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;

                        label {
                            font-size: 1rem;
                            justify-content: flex-start;
                        }

                        input {
                            font-size: 1rem;
                            font-weight: lighter;
                            width: auto;
                        }

                        .switch-input {
                            width: 5%;

                            &:focus {
                                outline: none;
                                border: 1px solid $purpleChart;
                            }

                            &:checked {
                                border: 2px solid $blueChart;
                                background-color: $yellowChart;
                            }
                        }

                        select {
                            font-size: 1rem;
                            font-weight: lighter;
                            width: auto;

                            option {
                                font-size: 1rem;
                                font-weight: lighter;
                                width: auto;
                            }
                        }
                    }

                    .user-form-submit {
                        width: 70%;

                        button {
                            font-size: 1rem;
                            padding: 0.5rem;
                        }
                    }
                }
            }

        }

        .content-container {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 100%;

            
            .content-form {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2rem;

                .content-form-title {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 3rem;
                    color: $blueChart;
                    font-weight: bold;

                    h1 {
                        font-size: 2rem;
                    }

                    p {
                        font-size: 1.5rem;
                    }
                }

                .content-form-fields {
                    display: grid;
                    grid-template-columns: 1.5fr 2fr;
                    gap: 1rem;
                    column-gap: 1.5rem;
                    width: 35%;

                    label {
                        display: flex;
                        font-size: 1.2rem;
                        color: $blueChart;
                        font-weight: bold;
                        align-items: center;
                        justify-content: flex-end;
                    }

                    input {
                        border: 1px solid $purpleChart;
                        border-radius: 0.5rem;
                        padding: 0.5rem;
                        font-size: 1.2rem;
                        color: $purpleChart;
                        font-weight: bold;

                        &:focus {
                            outline: none;
                            border: 1px solid $yellowChart;
                        }
                    }

                    .switch-input {
                        width: 5%;

                        &:focus {
                            outline: none;
                            border: 1px solid $purpleChart;
                        }

                        &:checked {
                            border: 2px solid $blueChart;
                            background-color: $yellowChart;
                        }
                    }

                    select {
                        border: 1px solid $purpleChart;
                        border-radius: 0.5rem;
                        padding: 0.5rem;
                        font-size: 1.2rem;
                        color: $purpleChart;
                        font-weight: bold;

                        &:focus {
                            outline: none;
                            border: 1px solid $yellowChart;
                        }

                        option {
                            font-size: 1.2rem;
                            color: $purpleChart;
                            font-weight: bold;
                        }
                    }
                }

                .content-form-submit {
                    display: flex;
                    justify-content: center;
                    width: 35%;

                    button {
                        border: 1px solid $blueChart;
                        border-radius: 0.5rem;
                        padding: 0.5rem;
                        font-size: 1.2rem;
                        font-weight: bold;
                        color: $yellowChart;
                        background-color: $blueChart;
                        cursor: pointer;
                        transition: all 0.5s ease-in-out;

                        &:hover {
                            background-color: $yellowChart;
                            color: $blueChart;
                        }
                    }
                }
            }

            .content-type-nav {
                display: flex;
                justify-content: center;
                padding-top: 1.5rem;

                .nav-item {
                    display: flex;
                    gap: 5rem;

                    .nav-link {
                        display: flex;
                        font-size: 1.8rem;
                        color: $purpleChart;
                        font-weight: bold;
                        text-decoration: none;
                        align-items: center;
                        gap: 0.5rem;

                        &:hover {
                            color: $blueChart;
                        }

                        &.active {
                            color: $blueChart;
                            transform: scale(1.2);
                        }
                    }
                }
            }

            .content-status-nav {
                display: flex;
                justify-content: flex-start;
                margin: 0 1rem 0 1rem;
                flex-direction: column;

                .nav-item {
                    display: flex;
                    gap: 3rem;
                    align-items: center;

                    .nav-link {
                        display: flex;
                        font-size: 1rem;
                        color: $purpleChart;
                        font-weight: bold;
                        text-decoration: none;
                        align-items: center;
                        gap: 0.5rem;

                        &:hover {
                            color: $blueChart;
                        }

                        &.active {
                            color: $blueChart;
                            transform: scale(1.2);
                        }
                    }
                }
            }


        }

        &.mobile {
            width: 100%;

            .content-container {
                align-items: center;
                padding-top: 4rem;
                width: 100%;
                transform: translate(0);
                transition: transform 0.4s ease-in-out;

                .content-type-nav {

                    .nav-item {
                        gap: 1rem;

                        .nav-link {
                            font-size: 1.3rem;

                            &.active {
                                color: $blueChart;
                                transform: none;
                            }
                        }
                    }
                }

                .content-status-nav {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .nav-item {
                        gap: 1rem;

                        .nav-link {
                            font-size: 1.1rem;

                            &.active {
                                color: $blueChart;
                                transform: none;
                            }

                            .link-icon {
                                width: 1.5rem;
                                height: 1.5rem;
                            }
                        }
                    }
                }
            }
        }

        &.opened {
            .userForm-container {
                transform: translate(150%);
            }

            .content-container {
                gap: 2rem;
                transform: translate(150%);
            }
        }
    }

    .burger-menu {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: space-between;
        width: 2.25rem;
        height: 1.7rem;
        cursor: pointer;
        bottom: 40rem;
        left: 1.5rem;
        z-index: 2;

        .line {
            display: block;
            width: 100%;
            height: 0.2rem;
            background: $blueChart;
            border-radius: 0.5rem;
        }

        .line-1 {
            transform-origin: 0 0;
            transition: transform 0.4s ease-in-out;
        }

        .line-2 {
            transition: transform 0.2s ease-in-out;
        }

        .line-3 {
            transform-origin: 0 100%;
            transition: transform 0.4s ease-in-out;
        }

        &.opened {
            .line-1 {
                transform: rotate(45deg);
            }

            .line-2 {
                transform: scale(0);
            }

            .line-3 {
                transform: rotate(-45deg);
            }
        }

    }

    &.mobile {
        display: block;
    }
}