.footer {
    background: $footerGradient;
    padding: 0.5rem 1rem;
    display: flex;
    min-height: 40vh;

    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .footer-logo {
            display: flex;

            img {
                width: 18rem;
            }
        }

        .social-container {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .social-item {
                display: flex;

                .social-link {
                    font-size: 1rem;
                    font-weight: bold;
                    text-decoration: none;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    span {
                        color: $blueChart;

                        &:hover {
                            color: $yellowChart;
                        }
                    }
                }
            }
        }

        .professional-container {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            .professional-item {
                display: flex;

                .professional-link {
                    font-size: 1rem;
                    font-weight: bold;
                    text-decoration: none;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    img {
                        border-radius: 50%;
                    }

                    span {
                        color: $blueChart;

                        &:hover {
                            color: $yellowChart;
                        }
                    }
                }
            }
        }

        .legal-container {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            margin-right: 2.5rem;

            .legal-item {
                display: flex;

                .legal-link {
                    font-size: 1rem;
                    text-decoration: none;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    .contact {
                        &:hover {
                            color: $text-color-black;
                            transform: scale(1.1);
                        }
                    }

                    span {
                        color: $text-color-black;

                        &:hover {
                            color: $yellowChart;
                        }
                    }
                }
            }
        }

        &.mobile {
            flex-direction: column;
            gap: 1rem;

            .footer-logo {
                img {
                    width: 15rem;
                }
            }

            .social-container {
                gap: 0.5rem;
                padding-bottom: 1rem;
                border-bottom: 1px solid $yellowChart;
            }

            .professional-container {
                gap: 0.5rem;
                padding-bottom: 1rem;
                border-bottom: 1px solid $yellowChart;
            }

            .legal-container {
                margin-right: 0;
                align-items: center;
                gap: 0;

                .legal-item .legal-link {
                    font-size: 0.8rem;
                }
            }
        }
    }
}