$text-color: #ffffff;
$text-color-black: #363636;
$background-color: #ffffff;

$headerGradient: linear-gradient(to right, #FFFFFF 55%, #556AED);
$footerGradient: linear-gradient(#556AED, #9EA9F0 66%, #FFFFFF);
$burgerGradient: linear-gradient(to right, #FFFFFF 70%, #9EA9F0, #556AED);

$blueChart: #556AED;
$yellowChart: #EDE83E;
$purpleChart: #9EA9F0;

$yellow: #ebe77b;